<nav class="header__container">
    <div class="menu__links__container">
        <ul class="ul__menu__list">
            <li class="menu__list">
                <a href="#" class="ul__menu__link">Home</a>
            </li>
            <li class="menu__list">
                <a href="#" class="ul__menu__link">Product</a>
            </li>
            <li class="menu__list">
                <a href="#" class="ul__menu__link">Pricing</a>
            </li>
            <li class="menu__list">
                <a href="#" class="ul__menu__link">About</a>
            </li>
            <li class="menu__list">
                <a href="#" class="ul__menu__link">Contact</a>
            </li>
        </ul>
        <div class="container__logo">
            <a href="#" class="ul__menu__link">
                <img class="logo" src="../../images/figma__logo.png" alt="Company Logo">
            </a>
        </div>
    </div>
    <div class="container__social__links">
        <ul class="ul__social__links">
            <li class="list__social__links">
                <a href="#">
                    <i class="bi bi-twitter" aria-label="twitter-link"></i>
                </a>
            </li>
            <li class="list__social__links">
                <a href="#">
                    <i class="bi bi-facebook" aria-label="facebook-link "></i>
                </a>
            </li>
            <li class="list__social__links">
                <a href="#">
                    <i class="bi bi-linkedin" aria-label="linkidin link"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>