<div class="features__block">
    <div class="features__container">
        <h1 class="features__container__h1">
            Features
        </h1>
        <div class="features__container__p__wrap">
            <p class="features__container__p">
                Most calendars are designed for teams. Slate is designed for freelancers
            </p>
            <p class="features__container__p">
                Slate is designed for freelancers
            </p>
        </div>
    </div>
    <div class="container-fluid feautures__columns__container">
        <div class="row features__row">
            <div class="features__columns__wrap">
                <div class="col-4 feautures__columns">
                    <img src="../../images/column-figure.png" alt="figure" class="feautures__columns__img">
                    <h1 class="feautures__columns__h1">OpenType features Variable fonts</h1>
                    <p class="feautures__columns__p">Slate helps you see how
                        many more days you need
                        to work to reach your
                        financial goal.
                    </p>
                </div>
                <div class="col-4 feautures__columns">
                    <img src="../../images/column-pencil.png" alt="pencil" class="feautures__columns__img">
                    <h1 class="feautures__columns__h1">Design with real data</h1>
                    <p class="feautures__columns__p">Slate helps you see how
                        many more days you need
                        to work to reach your
                        financial goal.
                    </p>
                </div>

                <div class="col-4 feautures__columns">
                    <img src="../../images/paint-brush.png" alt="brush" class="feautures__columns__img">
                    <h1 class="feautures-columns__h1"> Fastest way to take action</h1>
                    <p class="feautures-columns__p">Slate helps you see how
                        many more days you need
                        to work to reach your
                        financial goal.
                    </p>
                </div>
            </div>
            <div class="features__img">
                <img src="../../images/features_column.png" alt="Young wommen holding tablet"
                    class="features__undercolumns__img">
                <div class="features__img__play__icon">
                    <img src="../../images/Ellipse_features_img.png" alt="ellipse"
                        class="features__play__background__icon">
                    <img src="../../images/Vector_features_img.png" alt="place_for_play-icon"
                        class="features__play__icon">
                </div>
            </div>
        </div>
    </div>
</div>